body {
    padding: 20px;
    display: flex;
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@media only screen and (max-width: 1120px) {
  body {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 600px) {
  body {
    font-size: 0.8rem;
  }
}

#imageColumn {
    display: flex;

    img {
        padding: 1.302vw;
        padding-left: 0px;
        width: 19.531vw;
        height: 23.698vw;
        max-height: 23.698vw;
    };

}

td {
    padding-right: 1.302vw;
}
th {
    text-align: start;
}

td:nth-child(2) {
    margin-right: 1.953vw;
    border-right: solid #4d4d4d;
}

th:nth-child(1) {
    padding-right: 1.953vw;
    border-right: solid #4d4d4d;
}

ul {
    padding-left: 0.8vw; 
}

p {
    max-width: 50vw;
    scroll-margin-top: 13.316vw;
}


amount {
    font-weight: bolder;
}

#anchors {
    display: block;
    max-width: 38vw;
    text-wrap: stable;
}

a {
    margin-right: 0.8vw;
}

::marker {
    content: "- ";
}

@keyframes flashBackground {
    0% { background-color: white; color: black }
    50% { background-color: #d6d7d8; color: #4d4d4d }
    100% { background-color: white; color: black}
}

.flash {
    animation: flashBackground 1.2s;
}

